.container{
    background: var(--primary-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: var(--right-sidebar-width);
    display: flex;
    flex-direction: column;
}

.calendarContainer{
    flex: 1;
    display: flex;
    align-items: center;
}

.signOutBtnContainer{
    padding: 24px 8px;
    text-align: left;
}

.signOutBtnContainer button{
    border: none;
    color: var(--primary-color);
    background-color: var(--accent-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem;
    padding: 1.2rem;
    border-radius: 12px;
}

.signOutBtnContainer button:hover{
    opacity: 0.8;
}