.form{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.inputContainer label{
    margin-left: .6rem;
    color: var(--secondary-color);
    font-weight: 900;
}

.inputContainer input{
    font-size: 1.6rem;
    padding: .8rem 1.2rem;
    border: none;
    border-radius: 1.2rem;
}

.submitButton{
    border: none;
    background-color: var(--accent-color);
    height: 4rem;
    color: var(--primary-color);
    border-radius: 4rem;
    margin-top: 1rem;
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.submitButton:hover{
    opacity: 0.9;
}

.submitButton:disabled{
    opacity: 0.2;
}

.inputErrorMessage{
    color: var(--errorColor);
    margin: 0;
    font-size: 1.2rem;
    margin-left: .6rem;
    font-weight: 900;
}

.responseError{
    color: var(--errorColor);
    background-color: var(--errorBackgroundColor);
    margin: 0;
    font-size: 1.4rem;
    padding: .8rem .6rem;
    font-weight: 700;
}

.responseSuccess{
    color: var(--successColor);
    background-color: var(--successBackgroundColor);
    margin: 0;
    font-size: 1.4rem;
    padding: .8rem .6rem;
    font-weight: 700;
}