.container {
    --month-font-size: 2.4rem;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    /*background-color: lightblue;*/
}

.month{
    font-size: var(--month-font-size);
    color: var(--secondary-color);
    font-weight: 900;
}

.day{
    font-size: calc(var(--month-font-size) * 0.6);
    text-align: center;
    color: var(--accent-color);
    font-weight: 600;
}

.message{
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
    margin-left: 6rem;
    color: var(--secondary-color);
}