.page{
    background-color: var(--white-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: .8rem 1.6rem;
}

.content h1{
    margin: 0;
    margin-bottom: 1rem;
    color: var(--black-color);
    text-align: left;
    font-size: 2.4rem;
}

.loginRouteParagraph{
    font-size: 1.2rem;
    text-align: center;
}

.logIn{
    /* text-decoration: none; */
    color: var(--hue-color);
    font-weight: 900;
    font-size: 1.8rem;
    /* text-align: center; */
}