.container{
    display: flex;
    margin-top: 16px;
}

.addInput{
    flex: 1;
    height: 100%;
    padding: 10px 18px;
    font-size: 16px;
    line-height: 16px;
    border: 2px solid white;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.addButton{
    color: var(--primary-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 0 24px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}