.newListForm{
    width: 100%;
    margin-left: 8px;

}

.newListForm input{
    width: 68%;
    padding: .6rem ;
    border: 2px solid var(--accent-color);
    border-right: none;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}

.newListForm input:focus{
    border-color: var(--secondary-color);
    border-width: 1px;
    border-right: none;
}

.newListForm button{
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: .6rem ;
    border: 2px solid var(--accent-color);
    border-left: none;
    border-bottom-right-radius: .6rem;
    border-top-right-radius: .6rem;
    font-weight: 900;
}

.newListForm button:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-left: none;
}

.newListErrorMessage{
    margin: 0;
    margin-left: 1.6rem;
    color: var(--errorColor);
    font-size: 1.2rem;
    font-weight: bold;
}