:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  /* Color palate */
  --primary-color:rgb(240, 240, 230);
  --secondary-color: rgb(0, 0, 30);
  --accent-color:rgb(0, 125, 205);

  /* color-scheme: light dark; */
  color: var(--secondary-color);
  background-color: var(--primary-color);

  --nav-bar-height: 7.5rem;
}


body {
  font-size: 1.6rem;
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}






